amqp==5.2.0
asgiref==3.8.1
attrs==24.2.0
billiard==4.2.1
celery==5.4.0
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
dateutils==0.6.12
diff-match-patch==20230430
dj-database-url==2.2.0
Django==5.1.1
django-decouple==2.1
django-defender==0.9.8
django-guid==3.5.0
django-import-export==4.1.1
django-js-reverse==0.10.2
django-model-utils==5.0.0
django-opensearch-dsl==0.6.2
django-permissions-policy==4.21.0
django-webpack-loader==3.1.1
django_csp==3.8
djangorestframework==3.15.2
drf-spectacular==0.27.2
Events==0.5
idna==3.10
inflection==0.5.1
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
kombu==5.4.2
markdown-it-py==3.0.0
mdurl==0.1.2
opensearch-py==2.7.1
packaging==24.1
prompt_toolkit==3.0.48
psycopg2==2.9.9
Pygments==2.18.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.2
PyYAML==6.0.2
redis==5.1.1
referencing==0.35.1
requests==2.32.3
rich==13.9.2
rpds-py==0.20.0
shellingham==1.5.4
six==1.16.0
sqlparse==0.5.1
tablib==3.5.0
typer==0.12.5
typing_extensions==4.12.2
tzdata==2024.2
uritemplate==4.1.1
urllib3==2.2.3
vine==5.1.0
wcwidth==0.2.13
whitenoise==6.7.0
